default_stages: [commit]
repos:
  - repo: https://github.com/ambv/black
    rev: 20.8b1
    hooks:
      - id: black
        language_version: python3

  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.3
    hooks:
      - id: flake8

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.782
    hooks:
      - id: mypy

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: check-json
      - id: check-added-large-files
      - id: check-yaml

  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.5.3
    hooks:
      - id: isort
        args: [--settings-path, setup.cfg]

  - repo: https://github.com/Woile/commitizen
    rev: v2.4.0
    hooks:
      - id: commitizen
        # don't forget to run pre-commit install --hook-type commit-msg for this hook to run
        stages: [commit-msg]

  - repo: https://github.com/prettier/prettier # to format JSON, YAML and markdown files among others
    rev: 2.1.2
    hooks:
      - id: prettier

  - repo: local
    hooks:
      - id: ggshield-local
        name: GitGuardian Shield
        entry: pipenv run ggshield scan pre-commit
        language: system
        types: [python]
        stages: [commit]

  - repo: https://github.com/gitguardian/gg-shield
    rev: v1.2.3
    hooks:
      - id: ggshield
        language_version: python3
        stages: [commit]
