[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
ggshield = {editable = true,path = "."}
marshmallow ="*"
requests = "*"
click = "*"
pyyaml = "*"

[dev-packages]
flake8 = "*"
black = "==19.10b0"
pre-commit = "*"
pytest = "*"
mock = "*"
vcrpy = "*"
snapshottest = "*"
