[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
appdirs = ">=1.4.4,<1.5.0"
click = ">=8.0,<8.1"
ggshield = { editable = true, path = "." }
oauthlib = "~=3.2"
pydantic = ">=1.9.0,<1.10.0"
pygitguardian = ">=1.3.4,<1.4.0"
pyyaml = ">=6.0,<6.1"
python-dotenv = ">=0.19.1,<0.20.0"

[dev-packages]
black = "==22.3.0"
coverage = "*"
flake8 = "*"
flake8-isort = "*"
flake8-quotes = "*"
ipdb = "*"
mock = "*"
# Keep version synced with .pre-commit-config.yaml
mypy = "0.942"
pre-commit = "*"
pytest = "*"
pytest-socket = "*"
seed-isort-config = "*"
snapshottest = "*"
# Keep types-* packages synced with .pre-commit-config.yaml
types-PyYAML = "*"
types-requests = "*"
types-appdirs = "*"
types-oauthlib = "*"
typing-extensions = "*"

vcrpy = "*"
pyfakefs = "*"
