interactions:
- request:
    body: null
    headers:
      apikey:
      - GG_SCANNING_API_TOKEN
    method: POST
    uri: https://scanning.api.dev.gitguardian.com/v2/scan/file
  response:
    body:
      string: '{"secrets":[{"detector":{"name":"datadog_api_key","display_name":"Datadog
        Key","category":"Api","high_recall":false,"metadata":{"company_name":"Datadog","company_name_l":"datadog","company_name_normalized":"Datadog"}},"matches":[{"string_matched":"dd52c29224affe29d163c6bf99e5c3f4","indice_start":26,"indice_end":58,"name":"apikey"}],"status":"invalid"}],"metadata":{"version":"1.0.20","leak_count":1}}'
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Connection
      : keep-alive
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '402'
      ? !!python/object/new:multidict._istr.istr
      - Content-Type
      : application/json
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Mon, 20 May 2019 14:37:44 GMT
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - scanning.api.dev.gitguardian.com
        - /v2/scan/file
        - ''
        - ''
version: 1
