interactions:
- request:
    body: null
    headers:
      apikey:
      - GG_SCANNING_API_TOKEN
    method: POST
    uri: https://scanning.api.dev.gitguardian.com/v2/scan/file
  response:
    body:
      string: '{"secrets":[{"detector":{"name":"facebook_app_keys","display_name":"Facebook
        Access Tokens","category":"Api","high_recall":false,"metadata":{"company_name":"Facebook","company_name_l":"facebook","company_name_normalized":"Facebook"}},"matches":[{"string_matched":"294790898041575","indice_start":34,"indice_end":49,"name":"client_id"},{"string_matched":"ce3f9f0362bbe5ab01dfc8ee565e4372","indice_start":70,"indice_end":102,"name":"client_secret"}],"status":"invalid"}],"metadata":{"version":"1.0.20","leak_count":1}}'
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Connection
      : keep-alive
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '516'
      ? !!python/object/new:multidict._istr.istr
      - Content-Type
      : application/json
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Mon, 20 May 2019 14:37:42 GMT
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - scanning.api.dev.gitguardian.com
        - /v2/scan/file
        - ''
        - ''
version: 1
