interactions:
- request:
    body: null
    headers:
      apikey:
      - GG_SCANNING_API_TOKEN
    method: POST
    uri: https://scanning.api.dev.gitguardian.com/v2/scan/file
  response:
    body:
      string: '{"secrets":[],"metadata":{"version":"1.0.20","leak_count":0}}'
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Connection
      : keep-alive
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '61'
      ? !!python/object/new:multidict._istr.istr
      - Content-Type
      : application/json
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Mon, 20 May 2019 14:37:43 GMT
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - scanning.api.dev.gitguardian.com
        - /v2/scan/file
        - ''
        - ''
version: 1
