interactions:
  - request:
      body:
        '[{"filename": "/tmp/tmpgzt78qik/.gitguardian.yml", "document": "ignore-default-excludes:
        true\n"}, {"filename": "/tmp/tmpgzt78qik/node_modules/test.js", "document":
        "// Test"}]'
      headers:
        Content-Type:
          - application/json
        mode:
          - path
      method: POST
      uri: https://api.gitguardian.com/v1/multiscan
    response:
      body:
        string:
          '[{"policy_break_count":0,"policies":["Secrets detection","File extensions","Filenames"],"policy_breaks":[]},{"policy_break_count":0,"policies":["Secrets
          detection","File extensions","Filenames"],"policy_breaks":[]}]'
      headers:
        Allow:
          - POST, OPTIONS
        Content-Type:
          - application/json
        X-App-Version:
          - 1.32.0-rc.2
        X-Secrets-Engine-Version:
          - 2.56.0
      status:
        code: 200
        message: OK
version: 1
