interactions:
  - request:
      body: '[{"filename": "/tmp/tmplr80rep6/node_modules/test.js", "document": "NPM_TOKEN=npm_xxxxxxxxxxxxxxxxxxxxxxxxxx\n"}]'
      headers:
        Content-Type:
          - application/json
        mode:
          - path
      method: POST
      uri: https://api.preprod.gitguardian.com/v1/multiscan
    response:
      body:
        string:
          '[{"policy_break_count":1,"policies":["Filenames","File extensions","Secrets
          detection"],"policy_breaks":[{"type":"Generic High Entropy Secret","policy":"Secrets
          detection","matches":[{"type":"apikey","match":"npm_xxxxxxxxxxxxxxxxxxxxxxxxxx","index_start":10,"index_end":49,"line_start":1,"line_end":1}]}]}]'
      headers:
        Allow:
          - POST, OPTIONS
        Content-Type:
          - application/json
        X-App-Version:
          - fbaff9181ed54b69290403d6117ddc88b5227e97
        X-Secrets-Engine-Version:
          - 2.52.1
      status:
        code: 200
        message: OK
version: 1
