interactions:
  - request:
      body:
        '[{"filename": "artifactory", "document": "@@ -1,3 +1,3 @@\n some line\n
        some other line\n-deleted line\n\\ No newline at end of file\n+sg_key = \"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\"\n\\
        No newline at end of file\n"}]'
      headers:
        Content-Type:
          - application/json
        mode:
          - path
      method: POST
      uri: https://api.gitguardian.com/v1/multiscan
    response:
      body:
        string:
          '[{"policy_break_count":1,"policies":["Secrets detection","File extensions","Filenames"],"policy_breaks":[{"type":"SendGrid
          Key","policy":"Secrets detection","matches":[{"type":"apikey","match":"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","index_start":97,"index_end":165,"line_start":6,"line_end":6}]}]}]'
      headers:
        Allow:
          - POST, OPTIONS
        Content-Type:
          - application/json
        X-App-Version:
          - 1.31.0-rc.3
        X-Secrets-Engine-Version:
          - 2.52.1
      status:
        code: 200
        message: OK
version: 1
