interactions:
  - request:
      body:
        '[{"filename": "test.txt", "document": "@@ -0,0 +1 @@\n+this is a patch
        without secret\n"}]'
      headers:
        Content-Type:
          - application/json
        GGShield-Command-Path:
          - external
        GGShield-Version:
          - 1.12.0
        mode:
          - path
      method: POST
      uri: https://api.gitguardian.com/v1/multiscan
    response:
      body:
        string: '[{"policy_break_count":0,"policies":["Secrets detection","File extensions","Filenames"],"policy_breaks":[]}]'
      headers:
        Allow:
          - POST, OPTIONS
        Content-Type:
          - application/json
        X-App-Version:
          - v2.9.0
        X-Secrets-Engine-Version:
          - 2.71.0
      status:
        code: 200
        message: OK
version: 1
