interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.gitguardian.com/v1/quotas
    response:
      body:
        string: '{"content":{"count":194,"limit":1000,"remaining":806,"since":"2021-11-02"}}'
      headers:
        Allow:
          - GET, HEAD, OPTIONS
        Content-Type:
          - application/json
        X-App-Version:
          - 1.32.0-rc.2
        X-Secrets-Engine-Version:
          - 2.56.0
      status:
        code: 200
        message: OK
version: 1
