interactions:
  - request:
      body:
        '[{"document": "@@ -0,0 +2 @@\n+Sendgrid:\n+sg_key = \"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\";\n",
        "filename": "test.txt"}]'
      headers:
        Content-Type:
          - application/json
      method: POST
      uri: https://api.gitguardian.com/v1/multiscan
    response:
      body:
        string:
          '[{"policy_break_count":1,"policies":["File extensions","Secrets detection","Filenames"],"policy_breaks":[{"type":"SendGrid
          Key","policy":"Secrets detection","matches":[{"type":"apikey","match":"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","index_start":36,"index_end":104,"line_start":3,"line_end":3}]}]}]'
      headers:
        Allow:
          - POST, OPTIONS
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
version: 1
