interactions:
  - request:
      body:
        '[{"filename": "/tmp/tmpos7sa1u6/file_secret", "document": "diff --git a/test.txt
        b/test.txt\nnew file mode 100644\nindex 0000000..b80e3df\n--- /dev/null\n+++
        b/test\n@@ -0,0 +2 @@\n+# gg token\n+apikey = ggtt-v-12345azert;\n\n"}]'
      headers:
        Content-Type:
          - application/json
        mode:
          - path
      method: POST
      uri: https://api.gitguardian.com/v1/multiscan
    response:
      body:
        string:
          '[{"policy_break_count":1,"policies":["Secrets detection","File extensions","Filenames"],"policy_breaks":[{"type":"GitGuardian
          Test Token Checked","policy":"Secrets detection","matches":[{"type":"apikey","match":"ggtt-v-12345azert","index_start":138,"index_end":154,"line_start":8,"line_end":8}],"validity":"valid"}]}]'
      headers:
        Allow:
          - POST, OPTIONS
        Content-Type:
          - application/json
        X-App-Version:
          - 1.32.0-rc.2
        X-Secrets-Engine-Version:
          - 2.56.0
      status:
        code: 200
        message: OK
version: 1
