interactions:
  - request:
      body: null
      headers:
        Authorization:
          - Token mysupertoken
      method: GET
      uri: https://api.gitguardian.com/v1/token
    response:
      body:
        string: '{"type":"personal_access_token","account_id":17,"name":"key","scope":["scan"],"expire_at":null}'
      headers:
        Allow:
          - GET, HEAD, OPTIONS
        Content-Type:
          - application/json
        X-App-Version:
          - fc60f8d3
        X-Secrets-Engine-Version:
          - 2.64.0
      status:
        code: 200
        message: OK
version: 1
