interactions:
  - request:
      body:
        '[{"filename": "file_secret", "document": "diff --git a/test.txt b/test.txt\nnew
        file mode 100644\nindex 0000000..b80e3df\n--- /dev/null\n+++ b/test\n@@ -0,0
        +2 @@\n+Sendgrid:\n+sg_key = \"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\";\n"}]'
      headers:
        Content-Type:
          - application/json
        mode:
          - docker
      method: POST
      uri: https://api.gitguardian.com/v1/multiscan
    response:
      body:
        string:
          '[{"policy_break_count":1,"policies":["Secrets detection","File extensions","Filenames"],"policy_breaks":[{"type":"SendGrid
          Key","policy":"Secrets detection","matches":[{"type":"apikey","match":"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","index_start":138,"index_end":206,"line_start":8,"line_end":8}]}]}]'
      headers:
        Allow:
          - POST, OPTIONS
        Content-Type:
          - application/json
        X-App-Version:
          - 1.32.0-rc.2
        X-Secrets-Engine-Version:
          - 2.56.0
      status:
        code: 200
        message: OK
version: 1
