interactions:
  - request:
      body:
        '[{"filename": "/private/var/folders/8g/n692j_595cg2nq1gbbb6_c1h0000gp/T/tmp7m1yslsc/file1",
        "document": "This is a file with no secrets."}, {"filename": "/private/var/folders/8g/n692j_595cg2nq1gbbb6_c1h0000gp/T/tmp7m1yslsc/file2",
        "document": "This is a file with no secrets."}]'
      headers:
        Content-Type:
          - application/json
        GGShield-Command-Path:
          - cli secret scan path
        GGShield-Version:
          - 1.12.0
        mode:
          - path
      method: POST
      uri: https://api.gitguardian.com/v1/multiscan
    response:
      body:
        string:
          '[{"policy_break_count":0,"policies":["Secrets detection","File extensions","Filenames"],"policy_breaks":[]},{"policy_break_count":0,"policies":["Secrets
          detection","File extensions","Filenames"],"policy_breaks":[]}]'
      headers:
        Allow:
          - POST, OPTIONS
        Content-Type:
          - application/json
        X-App-Version:
          - v2.9.0
        X-Secrets-Engine-Version:
          - 2.71.0
      status:
        code: 200
        message: OK
version: 1
