interactions:
  - request:
      body:
        '[{"filename": "/private/var/folders/8g/n692j_595cg2nq1gbbb6_c1h0000gp/T/tmp7d4a1n11/file_secret",
        "document": "diff --git a/test.txt b/test.txt\nnew file mode 100644\nindex 0000000..b80e3df\n---
        /dev/null\n+++ b/test\n@@ -0,0 +2 @@\n+# gg token\n+apikey = \"ggtt-v-12345azert\";\n"}]'
      headers:
        Content-Type:
          - application/json
        GGShield-Command-Path:
          - cli secret scan path
        GGShield-Version:
          - 1.12.0
        mode:
          - path
      method: POST
      uri: https://api.gitguardian.com/v1/multiscan
    response:
      body:
        string:
          '[{"policy_break_count":1,"policies":["Secrets detection","File extensions","Filenames"],"policy_breaks":[{"type":"GitGuardian
          Test Token Checked","policy":"Secrets detection","matches":[{"type":"apikey","match":"ggtt-v-12345azert","index_start":139,"index_end":155,"line_start":8,"line_end":8}],"validity":"valid"}]}]'
      headers:
        Allow:
          - POST, OPTIONS
        Content-Type:
          - application/json
        X-App-Version:
          - v2.9.0
        X-Secrets-Engine-Version:
          - 2.71.0
      status:
        code: 200
        message: OK
version: 1
