interactions:
  - request:
      body:
        '[{"document": "This is a file with no secrets.\n", "filename": "dir/subdir/file3"},
        {"document": "This is a file with no secrets.\n", "filename": "dir/file2"},
        {"document": "This is a file with no secrets.\n", "filename": "file1"}]'
      headers:
        Content-Type:
          - application/json
      method: POST
      uri: https://api.gitguardian.com/v1/multiscan
    response:
      body:
        string:
          '[{"policy_break_count":0,"policies":["File extensions","Secrets detection","Filenames"],"policy_breaks":[]},{"policy_break_count":0,"policies":["File
          extensions","Secrets detection","Filenames"],"policy_breaks":[]},{"policy_break_count":0,"policies":["File
          extensions","Secrets detection","Filenames"],"policy_breaks":[]}]'
      headers:
        Allow:
          - POST, OPTIONS
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
version: 1
