name: ggshield
section: default
vendor: GitGuardian
maintainer: GitGuardian <dev@gitguardian.com>
license: MIT
homepage: https://github.com/GitGuardian/ggshield
description: 'CLI application that runs in your local environment or in a CI environment to help you detect leaked secrets, as well as other potential security vulnerabilities or policy breaks.'

arch: amd64
platform: linux
version: @VERSION@
version_schema: semver
release: 1

depends:
  - git
  - python3
contents:
  - src: @GGSHIELD_WRAPPER@
    dst: /usr/bin/ggshield
    file_info:
      mode: 0755
  - src: @GGSHIELD_PYZ@
    dst: /usr/lib/ggshield/ggshield.pyz
    file_info:
      mode: 0755
  - src: README.md
    dst: /usr/share/doc/ggshield/README.md
  - src: LICENSE
    dst: /usr/share/doc/ggshield/LICENSE
