# `ggshield` standalone executable

This archive contains a standalone version of `ggshield`.

`ggshield` is [GitGuardian](https://gitguardian.com) CLI application. It runs in your local environment or in a CI environment to help you detect more than 500+ types of secrets.

To learn more, visit https://github.com/GitGuardian/ggshield.

## Installation

Before starting, make sure you use the right `ggshield` archive: this archive only works on **@HUMAN_ARCH@** machines running **@HUMAN_OS@**.

1. Unpack/copy this directory to a destination directory of your choice.

2. Add said directory to your `$PATH` environment variable.

Note: Do not copy only the `ggshield` executable. All files inside this directory are required.
