interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.gitguardian.com/v1/metadata
    response:
      body:
        string: '{"version":"v2.70.1","preferences":{"marketplaces__aws_product_url":"http://aws.amazon.com/marketplace/pp/prodview-mrmulzykamba6","on_premise__restrict_signup":true,"on_premise__is_email_server_configured":true,"on_premise__default_sso_config_api_id":null,"onboarding__segmentation_v1_enabled":true,"general__maximum_payload_size":26214400},"secret_scan_preferences":{"maximum_documents_per_scan":20,"maximum_document_size":1048576}}'
      headers:
        allow:
          - GET, HEAD, OPTIONS
        content-type:
          - application/json
        x-app-version:
          - v2.70.1
        x-sca-engine-version:
          - 1.35.0
        x-sca-last-vuln-fetch:
          - '2024-05-30T09:06:08.486219+00:00'
        x-secrets-engine-version:
          - 2.113.0
      status:
        code: 200
        message: OK
  - request:
      body:
        '[{"filename": "commit://patch/test", "document": "@@ -0,0 +1 @@\n+FacebookAppId
        = 294790898041575; FacebookAppSecret = ce3f9f0362bbe5ab01dfc8ee565e4372;\n\n"}]'
      headers:
        Content-Type:
          - application/json
        GGShield-Command-Id:
          - f65bf7e9-e75c-4100-8340-3b7d8c7ef9e3
        GGShield-Command-Path:
          - external
        GGShield-OS-Name:
          - ubuntu
        GGShield-OS-Version:
          - '22.04'
        GGShield-Python-Version:
          - 3.10.13
        GGShield-Version:
          - 1.27.0
        mode:
          - path
      method: POST
      uri: https://api.gitguardian.com/v1/multiscan?ignore_known_secrets=True
    response:
      body:
        string: '[{"policy_break_count":1,"policies":["File extensions","Filenames","Secrets detection"],"policy_breaks":[{"type":"Facebook Access Tokens","policy":"Secrets Detection","matches":[{"match":"294790898041575","index_start":31,"index_end":45,"line_start":1,"line_end":1,"type":"client_id"},{"match":"ce3f9f0362bbe5ab01dfc8ee565e4372","index_start":68,"index_end":99,"line_start":1,"line_end":1,"type":"client_secret"}]}]}]'
      headers:
        allow:
          - POST, OPTIONS
        content-type:
          - application/json
        x-app-version:
          - v2.70.1
        x-sca-engine-version:
          - 1.35.0
        x-sca-last-vuln-fetch:
          - '2024-05-30T09:06:08.486219+00:00'
        x-secrets-engine-version:
          - 2.113.0
      status:
        code: 200
        message: OK
version: 1
