interactions:
  - request:
      body:
        '[{"filename": "test.txt", "document": "@@ -0,0 +1,2 @@\n+FacebookAppKeys
        :\n+String docker run --name geonetwork -d             -p 8080:8080 -e MYSQL_HOST=google.com             -e
        MYSQL_PORT=5434 -e MYSQL_USERNAME=root             -e MYSQL_PASSWORD=m42ploz2wd
        geonetwork\n"}]'
      headers:
        Content-Type:
          - application/json
        GGShield-Command-Path:
          - external
        GGShield-Version:
          - 1.12.0
        mode:
          - path
      method: POST
      uri: https://api.gitguardian.com/v1/multiscan
    response:
      body:
        string:
          '[{"policy_break_count":1,"policies":["File extensions","Filenames","Secrets
          detection"],"policy_breaks":[{"type":"MySQL Credentials","policy":"Secrets
          detection","matches":[{"type":"host","match":"google.com","index_start":114,"index_end":123,"line_start":3,"line_end":3},{"type":"port","match":"5434","index_start":151,"index_end":154,"line_start":3,"line_end":3},{"type":"username","match":"root","index_start":174,"index_end":177,"line_start":3,"line_end":3},{"type":"password","match":"m42ploz2wd","index_start":209,"index_end":218,"line_start":3,"line_end":3}],"validity":"failed_to_check"}]}]'
      headers:
        Allow:
          - POST, OPTIONS
        Content-Type:
          - application/json
        X-App-Version:
          - v2.9.1
        X-Secrets-Engine-Version:
          - 2.71.0
      status:
        code: 200
        message: OK
version: 1
