interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.gitguardian.com/v1/metadata
    response:
      body:
        string:
          '{"version":"v2.117.1","preferences":{"marketplaces__aws_product_url":"http://aws.amazon.com/marketplace/pp/prodview-mrmulzykamba6","on_premise__restrict_signup":true,"on_premise__is_email_server_configured":true,"on_premise__default_sso_config_api_id":null,"on_premise__default_sso_config_force_sso":null,"onboarding__segmentation_v1_enabled":true,"general__maximum_payload_size":26214400,"general__mutual_tls_mode":"disabled","general__signup_enabled":true},"secret_scan_preferences":{"maximum_documents_per_scan":20,"maximum_document_size":1048576},"remediation_messages":{"pre_commit":">
          How to remediate\n\n  Since the secret was detected before the commit was
          made:\n  1. replace the secret with its reference (e.g. environment variable).\n  2.
          commit again.\n\n> [Apply with caution] If you want to bypass ggshield (false
          positive or other reason), run:\n  - if you use the pre-commit framework:\n\n    SKIP=ggshield
          git commit -m \"<your message>\"\n    ","pre_push":"> How to remediate\n\n  Since
          the secret was detected before the push BUT after the commit, you need to:\n  1.
          rewrite the git history making sure to replace the secret with its reference
          (e.g. environment variable).\n  2. push again.\n\n  To prevent having to rewrite
          git history in the future, setup ggshield as a pre-commit hook:\n    https://docs.gitguardian.com/ggshield-docs/integrations/git-hooks/pre-commit\n\n>
          [Apply with caution] If you want to bypass ggshield (false positive or other
          reason), run:\n  - if you use the pre-commit framework:\n\n    SKIP=ggshield-push
          git push","pre_receive":"> How to remediate\n\n  A pre-receive hook set server
          side prevented you from pushing secrets.\n\n  Since the secret was detected
          during the push BUT after the commit, you need to:\n  1. rewrite the git history
          making sure to replace the secret with its reference (e.g. environment variable).\n  2.
          push again.\n\n  To prevent having to rewrite git history in the future, setup
          ggshield as a pre-commit hook:\n    https://docs.gitguardian.com/ggshield-docs/integrations/git-hooks/pre-commit\n\n>
          [Apply with caution] If you want to bypass ggshield (false positive or other
          reason), run:\n\n    git push -o breakglass"}}'
      headers:
        allow:
          - GET, HEAD, OPTIONS
        content-type:
          - application/json
        x-app-version:
          - v2.117.1
        x-sca-engine-version:
          - 2.2.0
        x-sca-last-vuln-fetch:
          - '2024-11-15T15:07:15.159254+00:00'
        x-secrets-engine-version:
          - 2.126.0
      status:
        code: 200
        message: OK
  - request:
      body:
        '[{"filename": "commit://patch/test.txt", "document": "@@ -0,0 +1,2 @@\n+FacebookAppKeys
        :\n+String docker run --name geonetwork -d             -p 8080:8080 -e MYSQL_HOST=google.com             -e
        MYSQL_PORT=5434 -e MYSQL_USERNAME=root             -e MYSQL_PASSWORD=m42ploz2wd
        geonetwork\n"}]'
      headers:
        Content-Type:
          - application/json
        GGShield-Command-Id:
          - fe8e61c5-bf70-43bf-8593-99837ac6bd01
        GGShield-Command-Path:
          - external
        GGShield-OS-Name:
          - ubuntu
        GGShield-OS-Version:
          - '22.04'
        GGShield-Python-Version:
          - 3.11.8
        GGShield-Version:
          - 1.33.0
        mode:
          - path
      method: POST
      uri: https://api.gitguardian.com/v1/multiscan?ignore_known_secrets=True&all_secrets=True
    response:
      body:
        string:
          '[{"policy_break_count":1,"policies":["Secrets detection"],"policy_breaks":[{"type":"MySQL
          Credentials","policy":"Secrets detection","matches":[{"type":"host","match":"google.com","index_start":114,"index_end":123,"line_start":3,"line_end":3},{"type":"port","match":"5434","index_start":151,"index_end":154,"line_start":3,"line_end":3},{"type":"username","match":"root","index_start":174,"index_end":177,"line_start":3,"line_end":3},{"type":"password","match":"m42ploz2wd","index_start":209,"index_end":218,"line_start":3,"line_end":3}],"is_excluded":false,"exclude_reason":null,"incident_url":"","known_secret":false,"validity":"failed_to_check"}]}]'
      headers:
        allow:
          - POST, OPTIONS
        content-type:
          - application/json
        x-app-version:
          - v2.117.1
        x-sca-engine-version:
          - 2.2.0
        x-sca-last-vuln-fetch:
          - '2024-11-15T15:07:15.159254+00:00'
        x-secrets-engine-version:
          - 2.126.0
      status:
        code: 200
        message: OK
version: 1
