interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.gitguardian.com/v1/metadata
    response:
      body:
        string: '{"version":"v2.30.2","preferences":{"marketplaces__aws_product_url":"http://aws.amazon.com/marketplace/pp/prodview-mrmulzykamba6","on_premise__restrict_signup":true,"on_premise__is_email_server_configured":true,"on_premise__default_sso_config_api_id":null,"public_api__ggshield_auth_flow_enabled":true,"general__onboarding_segmentation_v1_enabled":true},"secret_scan_preferences":{"maximum_documents_per_scan":20,"maximum_document_size":1048576}}'
      headers:
        allow:
          - GET, HEAD, OPTIONS
        content-type:
          - application/json
        x-app-version:
          - v2.30.2
        x-secrets-engine-version:
          - 2.89.0
      status:
        code: 200
        message: OK
  - request:
      body:
        '[{"filename": "test", "document": "@@ -0,0 +1 @@\n+this is a patch without
        secret\n"}]'
      headers:
        Content-Type:
          - application/json
        GGShield-Command-Id:
          - fdbdfaf6-617d-4801-b719-1369b24f1a8d
        GGShield-Command-Path:
          - external
        GGShield-OS-Name:
          - ubuntu
        GGShield-OS-Version:
          - '22.04'
        GGShield-Python-Version:
          - 3.10.6
        GGShield-Version:
          - 1.15.1
        mode:
          - path
      method: POST
      uri: https://api.gitguardian.com/v1/multiscan?ignore_known_secrets=True
    response:
      body:
        string:
          '[{"policy_break_count":0,"policies":["File extensions","Filenames","Secrets
          detection"],"policy_breaks":[]}]'
      headers:
        allow:
          - POST, OPTIONS
        content-type:
          - application/json
        x-app-version:
          - v2.30.2
        x-secrets-engine-version:
          - 2.89.0
      status:
        code: 200
        message: OK
  - request:
      body:
        '[{"filename": "commit://patch/test", "document": "@@ -0,0 +1 @@\n+this
        is a patch without secret\n"}]'
      headers:
        Content-Type:
          - application/json
        GGShield-Command-Id:
          - 2e14936f-1dda-4d60-86bf-207e7b3aac85
        GGShield-Command-Path:
          - external
        GGShield-OS-Name:
          - ubuntu
        GGShield-OS-Version:
          - '22.04'
        GGShield-Python-Version:
          - 3.11.8
        GGShield-Version:
          - 1.33.0
        mode:
          - path
      method: POST
      uri: https://api.gitguardian.com/v1/multiscan?all_secrets=True
    response:
      body:
        string: '[{"policy_break_count":0,"policies":["Secrets detection"],"policy_breaks":[],"is_diff":true}]'
      headers:
        allow:
          - POST, OPTIONS
        content-type:
          - application/json
        x-app-version:
          - v2.121.0
        x-sca-engine-version:
          - 2.2.0
        x-sca-last-vuln-fetch:
          - '2024-11-27T11:13:18.771122+00:00'
        x-secrets-engine-version:
          - 2.127.0
      status:
        code: 200
        message: OK
version: 1
