interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.gitguardian.com/v1/metadata
    response:
      body:
        string:
          '{"version":"v2.87.2","preferences":{"marketplaces__aws_product_url":"http://aws.amazon.com/marketplace/pp/prodview-mrmulzykamba6","on_premise__restrict_signup":true,"on_premise__is_email_server_configured":true,"on_premise__default_sso_config_api_id":null,"onboarding__segmentation_v1_enabled":true,"general__maximum_payload_size":26214400,"general__mutual_tls_mode":"disabled","general__signup_enabled":true},"secret_scan_preferences":{"maximum_documents_per_scan":20,"maximum_document_size":1048576},"remediation_messages":{"pre_commit":">
          How to remediate\n\n  Since the secret was detected before the commit was
          made:\n  1. replace the secret with its reference (e.g. environment variable).\n  2.
          commit again.\n\n> [To apply with caution] If you want to bypass ggshield
          (false positive or other reason), run:\n  - if you use the pre-commit framework:\n\n    SKIP=ggshield
          git commit -m \"<your message>","pre_push":"> How to remediate\n\n  Since
          the secret was detected before the push BUT after the commit, you need to:\n  1.
          rewrite the git history making sure to replace the secret with its reference
          (e.g. environment variable).\n  2. push again.\n\n  To prevent having to rewrite
          git history in the future, setup ggshield as a pre-commit hook:\n    https://docs.gitguardian.com/ggshield-docs/integrations/git-hooks/pre-commit\n\n>
          [To apply with caution] If you want to bypass ggshield (false positive or
          other reason), run:\n  - if you use the pre-commit framework:\n\n    SKIP=ggshield-push
          git push","pre_receive":"> How to remediate\n\n  A pre-receive hook set server
          side prevented you from pushing secrets.\n\n  Since the secret was detected
          during the push BUT after the commit, you need to:\n  1. rewrite the git history
          making sure to replace the secret with its reference (e.g. environment variable).\n  2.
          push again.\n\n  To prevent having to rewrite git history in the future, setup
          ggshield as a pre-commit hook:\n    https://docs.gitguardian.com/ggshield-docs/integrations/git-hooks/pre-commit\n\n>
          [To apply with caution] If you want to bypass ggshield (false positive or
          other reason), run:\n\n    git push -o breakglass"}}'
      headers:
        allow:
          - GET, HEAD, OPTIONS
        content-type:
          - application/json
        x-app-version:
          - v2.87.2
        x-sca-engine-version:
          - 1.43.0
        x-sca-last-vuln-fetch:
          - '2024-08-12T09:06:35.075326+00:00'
        x-secrets-engine-version:
          - 2.117.0
      status:
        code: 200
        message: OK
  - request:
      body:
        '[{"filename": "file", "document": "\nFacebookAppKeys: 294790898041573 /
        ce3f9f0362bbe5ab01dfc8ee565e4371 -----BEGIN RSA PRIVATE KEY-----\nMIIBOgIBAAJBAIIRkYjxjE3KIZiEc8k4sWWGNsPYRNE0u0bl5oFVApPLm+uXQ/4l\nbKO9LFtMiVPy700oMWLScwAN5OAiqVLMvHUCAwEAAQJANLr8nmEWuV6t2hAwhK5I\nNNmBkEo4M/xFxEtl9J7LKbE2gtNrlCQiJlPP1EMhwAjDOzQcJ3lgFB28dkqH5rMW\nTQIhANrCE7O+wlCKe0WJqQ3lYlHG91XWyGVgfExJwBDsAD9LAiEAmDY5OSsH0n2A\n22tthkAvcN1s66lG+0DztOVJ4QLI2z8CIBPeDGwGpx8pdIicN/5LFuLWbyAcoZaT\nbLaA/DCNPniBAiA0l//bzg+M3srIhm04xzLdR9Vb9IjPRlkvN074zdKDVwIhAKJb\nRF3C+CMFb0wXme/ovcDeM1+3W/UmSHYUW4b3WYq4\n-----END
        RSA PRIVATE KEY----- token: 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\n"}]'
      headers:
        Content-Type:
          - application/json
        GGShield-Command-Id:
          - ad142f57-02a8-419e-be46-2dbe593fe53b
        GGShield-Command-Path:
          - external
        GGShield-OS-Name:
          - ubuntu
        GGShield-OS-Version:
          - '22.04'
        GGShield-Python-Version:
          - 3.10.12
        GGShield-Version:
          - 1.29.0
        mode:
          - path
      method: POST
      uri: https://api.gitguardian.com/v1/multiscan?ignore_known_secrets=True
    response:
      body:
        string:
          '[{"policy_break_count":2,"policies":["File extensions","Filenames","Secrets
          detection"],"policy_breaks":[{"type":"SendGrid Key","policy":"Secrets detection","matches":[{"type":"apikey","match":"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","index_start":569,"index_end":637,"line_start":10,"line_end":10}],"incident_url":"https://dashboard.gitguardian.com/workspace/8/incidents/8137385","known_secret":true,"validity":"no_checker"},{"type":"RSA
          Private Key","policy":"Secrets detection","matches":[{"type":"apikey","match":"-----BEGIN
          RSA PRIVATE KEY-----\nMIIBOgIBAAJBAIIRkYjxjE3KIZiEc8k4sWWGNsPYRNE0u0bl5oFVApPLm+uXQ/4l\nbKO9LFtMiVPy700oMWLScwAN5OAiqVLMvHUCAwEAAQJANLr8nmEWuV6t2hAwhK5I\nNNmBkEo4M/xFxEtl9J7LKbE2gtNrlCQiJlPP1EMhwAjDOzQcJ3lgFB28dkqH5rMW\nTQIhANrCE7O+wlCKe0WJqQ3lYlHG91XWyGVgfExJwBDsAD9LAiEAmDY5OSsH0n2A\n22tthkAvcN1s66lG+0DztOVJ4QLI2z8CIBPeDGwGpx8pdIicN/5LFuLWbyAcoZaT\nbLaA/DCNPniBAiA0l//bzg+M3srIhm04xzLdR9Vb9IjPRlkvN074zdKDVwIhAKJb\nRF3C+CMFb0wXme/ovcDeM1+3W/UmSHYUW4b3WYq4\n-----END
          RSA PRIVATE KEY-----","index_start":69,"index_end":560,"line_start":2,"line_end":10}],"incident_url":"https://dashboard.gitguardian.com/workspace/8/incidents/8137383","known_secret":true,"validity":"no_checker"}]}]'
      headers:
        allow:
          - POST, OPTIONS
        content-type:
          - application/json
        x-app-version:
          - v2.87.2
        x-sca-engine-version:
          - 1.43.0
        x-sca-last-vuln-fetch:
          - '2024-08-12T09:06:35.075326+00:00'
        x-secrets-engine-version:
          - 2.117.0
      status:
        code: 200
        message: OK
[...]
