interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.gitguardian.com/v1/quotas
    response:
      body:
        string: '{"content":{"count":152495,"limit":1000000,"remaining":847505,"since":"2023-04-22"}}'
      headers:
        allow:
          - GET, HEAD, OPTIONS
        content-type:
          - application/json
        x-app-version:
          - v2.30.2
        x-secrets-engine-version:
          - 2.89.0
      status:
        code: 200
        message: OK
version: 1
