interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.gitguardian.com/v1/quotas
    response:
      body:
        string: '{"content":{"count":70097,"limit":1000000,"remaining":929903,"since":"2023-02-05"}}'
      headers:
        allow:
          - GET, HEAD, OPTIONS
        content-type:
          - application/json
        x-app-version:
          - v2.25.0
        x-secrets-engine-version:
          - 2.85.0
      status:
        code: 200
        message: OK
version: 1
