interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.gitguardian.com/v1/quotas
    response:
      body:
        string: '{"content":{"count":152,"limit":1000,"remaining":848,"since":"2022-06-15"}}'
      headers:
        Allow:
          - GET, HEAD, OPTIONS
        Content-Type:
          - application/json
        X-App-Version:
          - v2.9.0
        X-Secrets-Engine-Version:
          - 2.71.0
      status:
        code: 200
        message: OK
version: 1
