interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.gitguardian.com/v1/health
    response:
      body:
        string: '{"detail":"Valid API key."}'
      headers:
        allow:
          - GET, HEAD, OPTIONS
        content-type:
          - application/json
        x-app-version:
          - v2.22.2
        x-secrets-engine-version:
          - 2.83.0
      status:
        code: 200
        message: OK
  - request:
      body: '[{"filename": "test_file", "document": "+sg_key = \"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\";\n"}]'
      headers:
        Content-Type:
          - application/json
        GGShield-Command-Id:
          - d2c7ef97-5dae-4d06-bb6b-3d3b64bf88ac
        GGShield-Command-Path:
          - external
        GGShield-OS-Name:
          - ubuntu
        GGShield-OS-Version:
          - '22.04'
        GGShield-Python-Version:
          - 3.10.6
        GGShield-Version:
          - 1.14.2
        mode:
          - path
      method: POST
      uri: https://api.gitguardian.com/v1/multiscan?ignore_known_secrets=True
    response:
      body:
        string:
          '[{"policy_break_count":1,"policies":["File extensions","Filenames","Secrets
          detection"],"policy_breaks":[{"type":"SendGrid Key","policy":"Secrets detection","matches":[{"type":"apikey","match":"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","index_start":11,"index_end":79,"line_start":1,"line_end":1}],"validity":"no_checker"}]}]'
      headers:
        allow:
          - POST, OPTIONS
        content-type:
          - application/json
        x-app-version:
          - v2.22.2
        x-secrets-engine-version:
          - 2.83.0
      status:
        code: 200
        message: OK
version: 1
