interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.gitguardian.com/v1/metadata
    response:
      body:
        string: '{"version":"v2.70.0","preferences":{"marketplaces__aws_product_url":"http://aws.amazon.com/marketplace/pp/prodview-mrmulzykamba6","on_premise__restrict_signup":true,"on_premise__is_email_server_configured":true,"on_premise__default_sso_config_api_id":null,"onboarding__segmentation_v1_enabled":true,"general__maximum_payload_size":26214400},"secret_scan_preferences":{"maximum_documents_per_scan":20,"maximum_document_size":1048576}}'
      headers:
        allow:
          - GET, HEAD, OPTIONS
        content-type:
          - application/json
        x-app-version:
          - v2.70.0
        x-sca-engine-version:
          - 1.34.0
        x-sca-last-vuln-fetch:
          - '2024-05-27T15:11:50.088483+00:00'
        x-secrets-engine-version:
          - 2.113.0
      status:
        code: 200
        message: OK
  - request:
      body:
        '[{"filename": "commit://patch/test", "document": "@@ -150 +150,2 @@\n+something\n
        sg_key = \"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\";\n"}]'
      headers:
        Content-Type:
          - application/json
        GGShield-Command-Id:
          - dcc2f472-042a-4e82-b723-15255e9053e4
        GGShield-Command-Path:
          - external
        GGShield-OS-Name:
          - ubuntu
        GGShield-OS-Version:
          - '22.04'
        GGShield-Python-Version:
          - 3.10.12
        GGShield-Version:
          - 1.27.0
        mode:
          - path
      method: POST
      uri: https://api.gitguardian.com/v1/multiscan?ignore_known_secrets=True
    response:
      body:
        string:
          '[{"policy_break_count":1,"policies":["File extensions","Filenames","Secrets
          detection"],"policy_breaks":[{"type":"SendGrid Key","policy":"Secrets detection","matches":[{"type":"apikey","match":"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","index_start":40,"index_end":108,"line_start":3,"line_end":3}],"incident_url":"https://dashboard.gitguardian.com/workspace/8/incidents/8137385","known_secret":true,"validity":"no_checker"}]}]'
      headers:
        allow:
          - POST, OPTIONS
        content-type:
          - application/json
        x-app-version:
          - v2.70.0
        x-sca-engine-version:
          - 1.34.0
        x-sca-last-vuln-fetch:
          - '2024-05-27T15:11:50.088483+00:00'
        x-secrets-engine-version:
          - 2.113.0
      status:
        code: 200
        message: OK
  - request:
      body:
        '[{"filename": "commit://patch/test", "document": "@@ -150 +150,2 @@\n+something\n
        sg_key = \"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\";\n"}]'
      headers:
        Content-Type:
          - application/json
        GGShield-Command-Id:
          - c96c8d79-3638-47b7-b2cf-ea1d2cbc064b
        GGShield-Command-Path:
          - external
        GGShield-OS-Name:
          - ubuntu
        GGShield-OS-Version:
          - '22.04'
        GGShield-Python-Version:
          - 3.11.8
        GGShield-Version:
          - 1.33.0
        mode:
          - path
      method: POST
      uri: https://api.gitguardian.com/v1/multiscan?all_secrets=True
    response:
      body:
        string:
          '[{"policy_break_count":1,"policies":["Secrets detection"],"policy_breaks":[{"type":"SendGrid
          Key","policy":"Secrets detection","matches":[{"type":"apikey","match":"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","index_start":40,"index_end":108,"line_start":3,"line_end":3}],"is_excluded":false,"exclude_reason":null,"incident_url":"","known_secret":false,"validity":"no_checker","diff_kind":"context"}],"is_diff":true}]'
      headers:
        allow:
          - POST, OPTIONS
        content-type:
          - application/json
        x-app-version:
          - v2.121.0
        x-sca-engine-version:
          - 2.2.0
        x-sca-last-vuln-fetch:
          - '2024-11-27T11:13:18.771122+00:00'
        x-secrets-engine-version:
          - 2.127.0
      status:
        code: 200
        message: OK
version: 1
