interactions:
  - request:
      body: '{"audience": "https://api.hasmysecretleaked.com", "audience_type": "hmsl"}'
      headers:
        Content-Type:
          - application/json
      method: POST
      uri: https://api.gitguardian.com/v1/auth/jwt
    response:
      body:
        string: '{"token": "<REDACTED>"}'
      headers:
        allow:
          - POST, OPTIONS
        content-type:
          - application/json
        x-app-version:
          - v2.158.0
        x-secrets-engine-version:
          - 2.133.0
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers:
        GGShield-HMSL-Command-Name:
          - cli_hmsl_api-status
      method: GET
      uri: https://api.hasmysecretleaked.com/healthz
    response:
      body:
        string: '{"msg":"ok"}'
      headers:
        content-type:
          - application/json
        x-app-version:
          - 1.12.11
      status:
        code: 200
        message: OK
version: 1
