interactions:
  - request:
      body:
        '{"audience": "https://hasmysecretleaked.staging.gitguardian.tech", "audience_type":
        "hmsl"}'
      headers:
        Content-Type:
          - application/json
      method: POST
      uri: https://api.staging.gitguardian.tech/v1/auth/jwt
    response:
      body:
        string: '{"detail":"Invalid API key."}'
      headers:
        allow:
          - POST, OPTIONS
        content-type:
          - application/json
        www-authenticate:
          - Token
        x-app-version:
          - b9134237
        x-sca-engine-version:
          - 1.18.1
        x-sca-last-vuln-fetch:
          - '2023-10-17T05:42:55.432587+00:00'
        x-secrets-engine-version:
          - 2.98.0
      status:
        code: 401
        message: Unauthorized
  - request:
      body: '{"hashes": ["743d9fde380b7064cc6a8d3071184fc47905cf7440e5615cd46c7b6cbfb46d47"]}'
      headers:
        Content-Type:
          - application/json
        GGShield-HMSL-Command-Name:
          - cli_hmsl_query
      method: POST
      uri: https://hasmysecretleaked.staging.gitguardian.tech/v1/hashes
    response:
      body:
        string: '{"secrets":[{"hash":"743d9fde380b7064cc6a8d3071184fc47905cf7440e5615cd46c7b6cbfb46d47","count":313,"location":null}]}'
      headers:
        content-type:
          - application/json
        ratelimit-limit:
          - '10000'
        ratelimit-remaining:
          - '9999'
        ratelimit-reset:
          - '60467'
        x-app-version:
          - 1.6.1-staging.1
      status:
        code: 200
        message: OK
version: 1
