interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.gitguardian.com/v1/health
    response:
      body:
        string: '{"detail":"Valid API key."}'
      headers:
        allow:
          - GET, HEAD, OPTIONS
        content-type:
          - application/json
        x-app-version:
          - v2.22.2
        x-secrets-engine-version:
          - 2.83.0
      status:
        code: 200
        message: OK
  - request:
      body:
        '[{"filename": "/tmp/tmph3z167km/file2", "document": "This is a file with
        no secrets."}, {"filename": "/tmp/tmph3z167km/file1", "document": "This is a
        file with no secrets."}]'
      headers:
        Content-Type:
          - application/json
        GGShield-Command-Id:
          - 082cc817-ad9b-4666-a022-8462629d156f
        GGShield-Command-Path:
          - cli secret scan path
        GGShield-OS-Name:
          - ubuntu
        GGShield-OS-Version:
          - '22.04'
        GGShield-Python-Version:
          - 3.10.6
        GGShield-Version:
          - 1.14.2
        mode:
          - path
      method: POST
      uri: https://api.gitguardian.com/v1/multiscan
    response:
      body:
        string:
          '[{"policy_break_count":0,"policies":["File extensions","Filenames","Secrets
          detection"],"policy_breaks":[]},{"policy_break_count":0,"policies":["File
          extensions","Filenames","Secrets detection"],"policy_breaks":[]}]'
      headers:
        allow:
          - POST, OPTIONS
        content-type:
          - application/json
        x-app-version:
          - v2.22.2
        x-secrets-engine-version:
          - 2.83.0
      status:
        code: 200
        message: OK
version: 1
