interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.gitguardian.com/v1/metadata
    response:
      body:
        string: '{"version":"v2.30.2","preferences":{"marketplaces__aws_product_url":"http://aws.amazon.com/marketplace/pp/prodview-mrmulzykamba6","on_premise__restrict_signup":true,"on_premise__is_email_server_configured":true,"on_premise__default_sso_config_api_id":null,"public_api__ggshield_auth_flow_enabled":true,"general__onboarding_segmentation_v1_enabled":true},"secret_scan_preferences":{"maximum_documents_per_scan":20,"maximum_document_size":1048576}}'
      headers:
        allow:
          - GET, HEAD, OPTIONS
        content-type:
          - application/json
        x-app-version:
          - v2.30.2
        x-secrets-engine-version:
          - 2.89.0
      status:
        code: 200
        message: OK
  - request:
      body:
        '[{"filename": "/tmp/tmp0zw_weft/file_secret", "document": "commit 9537b6343a81f88d471e93f20ffb2e2665bbab00\nAuthor:
        GitGuardian Owl <owl@example.com>\nDate:   Thu Aug 18 18:20:21 2022 +0200\n\nA
        message\n\n:000000 100644 0000000 e965047 A\ufffdtest\ufffd\ufffddiff --git
        a/test b/test\nnew file mode 100644\nindex 0000000..b80e3df\n--- /dev/null\n+++
        b/test\n@@ -0,0 +2 @@\n+# gg token\n+apikey = \"ggtt-v-12345azert\";\n"}]'
      headers:
        Content-Type:
          - application/json
        GGShield-Command-Id:
          - aedea591-2fd6-41e4-b31d-f12c4f48003f
        GGShield-Command-Path:
          - cli secret scan path
        GGShield-OS-Name:
          - ubuntu
        GGShield-OS-Version:
          - '22.04'
        GGShield-Python-Version:
          - 3.10.6
        GGShield-Version:
          - 1.15.1
        mode:
          - path
      method: POST
      uri: https://api.gitguardian.com/v1/multiscan?ignore_known_secrets=True
    response:
      body:
        string:
          '[{"policy_break_count":1,"policies":["File extensions","Filenames","Secrets
          detection"],"policy_breaks":[{"type":"GitGuardian Test Token Checked","policy":"Secrets
          detection","matches":[{"type":"apikey","match":"ggtt-v-12345azert","index_start":314,"index_end":330,"line_start":14,"line_end":14}],"validity":"valid"}]}]'
      headers:
        allow:
          - POST, OPTIONS
        content-type:
          - application/json
        x-app-version:
          - v2.30.2
        x-secrets-engine-version:
          - 2.89.0
      status:
        code: 200
        message: OK
  - request:
      body:
        '[{"filename": "file_secret", "document": "commit 9537b6343a81f88d471e93f20ffb2e2665bbab00\nAuthor:
        GitGuardian Owl <owl@example.com>\nDate:   Thu Aug 18 18:20:21 2022 +0200\n\nA
        message\n\n:000000 100644 0000000 e965047 A\u001atest\u001a\u001adiff --git
        a/test b/test\nnew file mode 100644\nindex 0000000..b80e3df\n--- /dev/null\n+++
        b/test\n@@ -0,0 +2 @@\n+# gg token\n+apikey = \"ggtt-v-12345azert\";\n"}]'
      headers:
        Content-Type:
          - application/json
        GGShield-Command-Id:
          - bedf5033-a13f-48d7-a8e8-0ceced22c6f1
        GGShield-Command-Path:
          - cli secret scan path
        GGShield-OS-Name:
          - ubuntu
        GGShield-OS-Version:
          - '22.04'
        GGShield-Python-Version:
          - 3.11.8
        GGShield-Version:
          - 1.33.0
        mode:
          - path
      method: POST
      uri: https://api.gitguardian.com/v1/multiscan?all_secrets=True
    response:
      body:
        string:
          '[{"policy_break_count":1,"policies":["Secrets detection"],"policy_breaks":[{"type":"GitGuardian
          Test Token Checked","policy":"Secrets detection","matches":[{"type":"apikey","match":"ggtt-v-12345azert","index_start":311,"index_end":327,"line_start":14,"line_end":14}],"is_excluded":false,"exclude_reason":null,"incident_url":"","known_secret":false,"validity":"valid","diff_kind":null}],"is_diff":false}]'
      headers:
        allow:
          - POST, OPTIONS
        content-type:
          - application/json
        x-app-version:
          - v2.121.0
        x-sca-engine-version:
          - 2.2.0
        x-sca-last-vuln-fetch:
          - '2024-11-27T11:13:18.771122+00:00'
        x-secrets-engine-version:
          - 2.127.0
      status:
        code: 200
        message: OK
version: 1
