interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.gitguardian.com/v1/metadata
    response:
      body:
        string:
          '{"version":"v2.240.0","preferences":{"marketplaces__aws_product_url":"http://aws.amazon.com/marketplace/pp/prodview-mrmulzykamba6","on_premise__restrict_signup":true,"on_premise__is_email_server_configured":true,"on_premise__default_sso_config_api_id":null,"on_premise__default_sso_config_force_sso":null,"onboarding__segmentation_v1_enabled":true,"general__maximum_payload_size":26214400,"general__mutual_tls_mode":"disabled","general__signup_enabled":true},"secret_scan_preferences":{"maximum_documents_per_scan":20,"maximum_document_size":1048576},"remediation_messages":{"pre_commit":">
          How to remediate\n\n  Since the secret was detected before the commit was
          made:\n  1. replace the secret with its reference (e.g. environment variable).\n  2.
          commit again.\n\n> [Apply with caution] If you want to bypass ggshield (false
          positive or other reason), run:\n  - if you use the pre-commit framework:\n\n    SKIP=ggshield
          git commit -m \"<your message>\"\n    ","pre_push":"> How to remediate\n\n  Since
          the secret was detected before the push BUT after the commit, you need to:\n  1.
          rewrite the git history making sure to replace the secret with its reference
          (e.g. environment variable).\n  2. push again.\n\n  To prevent having to rewrite
          git history in the future, setup ggshield as a pre-commit hook:\n    https://docs.gitguardian.com/ggshield-docs/integrations/git-hooks/pre-commit\n\n>
          [Apply with caution] If you want to bypass ggshield (false positive or other
          reason), run:\n  - if you use the pre-commit framework:\n\n    SKIP=ggshield-push
          git push","pre_receive":"> How to remediate\n\n  A pre-receive hook set server
          side prevented you from pushing secrets.\n\n  Since the secret was detected
          during the push BUT after the commit, you need to:\n  1. rewrite the git history
          making sure to replace the secret with its reference (e.g. environment variable).\n  2.
          push again.\n\n  To prevent having to rewrite git history in the future, setup
          ggshield as a pre-commit hook:\n    https://docs.gitguardian.com/ggshield-docs/integrations/git-hooks/pre-commit\n\n>
          [Apply with caution] If you want to bypass ggshield (false positive or other
          reason), run:\n\n    git push -o breakglass"}}'
      headers:
        allow:
          - GET, HEAD, OPTIONS
        content-type:
          - application/json
        x-app-version:
          - v2.240.0
        x-secrets-engine-version:
          - 2.141.1
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.gitguardian.com/v1/api_tokens/self
    response:
      body:
        string: '{"id":"b6cec120-cde4-41b8-a59e-1ca2eedb3c13","name":"scan","type":"personal_access_token","scopes":["scan","scan:create-incidents"],"member_id":304824,"workspace_id":295980,"created_at":"2025-07-03T13:10:37.610471Z","last_used_at":"2025-07-03T14:24:00Z","expire_at":null,"revoked_at":null,"status":"active","creator_id":304824}'
      headers:
        allow:
          - GET, DELETE, HEAD, OPTIONS
        content-type:
          - application/json
        x-app-version:
          - v2.240.0
        x-secrets-engine-version:
          - 2.141.1
      status:
        code: 200
        message: OK
  - request:
      body:
        '[{"filename": "file2", "document": "This is a file with no secrets."},
        {"filename": "file1", "document": "This is a file with no secrets."}]'
      headers:
        Content-Type:
          - application/json
        GGShield-Command-Id:
          - 92eed818-93cc-41f7-8139-de10c443f421
        GGShield-Command-Path:
          - cli secret scan path
        GGShield-OS-Name:
          - ubuntu
        GGShield-OS-Version:
          - '22.04'
        GGShield-Python-Version:
          - 3.11.9
        GGShield-Version:
          - 1.41.0
        mode:
          - path
        scan_options:
          - '{"show_secrets": false, "ignored_detectors_count": 0, "ignored_matches_count":
            0, "ignored_paths_count": 14, "ignore_known_secrets": false, "with_incident_details":
            false, "has_prereceive_remediation_message": false, "all_secrets": false,
            "source_uuid": null}'
      method: POST
      uri: https://api.gitguardian.com/v1/multiscan?all_secrets=True
    response:
      body:
        string:
          '[{"policy_break_count":0,"policies":["Secrets detection"],"policy_breaks":[],"is_diff":false},{"policy_break_count":0,"policies":["Secrets
          detection"],"policy_breaks":[],"is_diff":false}]'
      headers:
        allow:
          - POST, OPTIONS
        content-type:
          - application/json
        x-app-version:
          - v2.240.0
        x-secrets-engine-version:
          - 2.141.1
      status:
        code: 200
        message: OK
version: 1
