interactions:
  - request:
      body: '{"name": "test_honey_token", "type": "AWS", "description": "description"}'
      headers:
        Content-Type:
          - application/json
      method: POST
      uri: https://api.gitguardian.com/v1/honeytokens
    response:
      body:
        string: '{"id":"858a3a76-f6f2-4c2e-b0bc-323d9a575413","type":"AWS","status":"active","created_at":"2023-05-15T14:09:09.210845Z","gitguardian_url":"https://dashboard.gitguardian.com/workspace/8/honeytokens/858a3a76-f6f2-4c2e-b0bc-323d9a575413","revoked_at":null,"triggered_at":null,"open_events_count":0,"creator_id":265476,"creator_api_token_id":"8219e02d-f44c-4802-8418-ab24c35953f1","revoker_id":null,"revoker_api_token_id":null,"token":{"access_token_id":"ABCQP22YWJJW3C5TRMP","secret_key":"9ImlMcdJrM2H1eDsYTnHM6mNC0YgLEm6tQJSF###"},"tags":[],"name":"test_honey_token","description":"description"}'
      headers:
        allow:
          - GET, POST, HEAD, OPTIONS
        content-type:
          - application/json
        x-app-version:
          - v2.30.0
        x-secrets-engine-version:
          - 2.89.0
      status:
        code: 201
        message: Created
version: 1
