interactions:
  - request:
      body: '{"audience": "https://api.hasmysecretleaked.com", "audience_type": "hmsl"}'
      headers:
        Content-Type:
          - application/json
      method: POST
      uri: https://api.gitguardian.com/v1/auth/jwt
    response:
      body:
        string: '{"token": "<REDACTED>"}'
      headers:
        allow:
          - POST, OPTIONS
        content-type:
          - application/json
        x-app-version:
          - v2.158.0
        x-secrets-engine-version:
          - 2.133.0
      status:
        code: 200
        message: OK
  - request:
      body: '{"hashes": ["743d9fde380b7064cc6a8d3071184fc47905cf7440e5615cd46c7b6cbfb46d47"]}'
      headers:
        Content-Type:
          - application/json
        GGShield-HMSL-Command-Name:
          - cli_hmsl_check
      method: POST
      uri: https://api.hasmysecretleaked.com/v1/hashes
    response:
      body:
        string: '{"secrets":[{"hash":"743d9fde380b7064cc6a8d3071184fc47905cf7440e5615cd46c7b6cbfb46d47","count":3637,"location":null}]}'
      headers:
        content-type:
          - application/json
        ratelimit-limit:
          - '10000'
        ratelimit-remaining:
          - '6513'
        ratelimit-reset:
          - '23967'
        x-app-version:
          - 1.12.11
      status:
        code: 200
        message: OK
version: 1
