interactions:
  - request:
      body:
        '{"name": "ggshield-kF6V8gX3", "type": "AWS", "description": "description",
        "project_extensions": "", "filename": null, "language": null}'
      headers:
        Content-Type:
          - application/json
      method: POST
      uri: https://api.gitguardian.com/v1/honeytokens/with-context
    response:
      body:
        string:
          '{"content":"XXX","filename":"creds.yml","suggested_commit_message":"Add
          AWS connection details","language":"yaml","gitguardian_url":"https://api.gitguardian.com/workspace/1/honeytokens/722da809-d8a0-42e0-87b2-f9454d104aa2","honeytoken_id":"722da809-d8a0-42e0-87b2-f9454d104aa2"}'
      headers:
        Allow:
          - POST, OPTIONS
        Content-Type:
          - application/json
        X-App-Version:
          - dev
        X-Secrets-Engine-Version:
          - 2.104.0
      status:
        code: 200
        message: OK
version: 1
