interactions:
  - request:
      body: '{"name": "test_honey_token_error_403", "type": "AWS", "description": "description"}'
      headers:
        Content-Type:
          - application/json
      method: POST
      uri: https://api.gitguardian.com/v1/honeytokens
    response:
      body:
        string: '{"detail":"Token is missing the following scope: honeytokens:read"}'
      headers:
        allow:
          - GET, POST, HEAD, OPTIONS
        content-type:
          - application/json
        x-app-version:
          - v2.32.1
        x-secrets-engine-version:
          - 2.91.0
      status:
        code: 403
        message: Forbidden
version: 1
