interactions:
  - request:
      body:
        '{"name": "ggshield-n8yFseW6", "type": "AWS", "description": "test_create_error",
        "project_extensions": "", "filename": null, "language": "non_existing_language"}'
      headers:
        Content-Type:
          - application/json
      method: POST
      uri: https://api.gitguardian.com/v1/honeytokens/with-context
    response:
      body:
        string: '{"detail":"Language not recognized."}'
      headers:
        Allow:
          - POST, OPTIONS
        Content-Type:
          - application/json
        X-App-Version:
          - dev
        X-Secrets-Engine-Version:
          - 2.104.0
      status:
        code: 400
        message: Bad Request
version: 1
