interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.gitguardian.com/v1/health
    response:
      body:
        string: '{"detail":"Valid API key."}'
      headers:
        allow:
          - GET, HEAD, OPTIONS
        content-type:
          - application/json
        x-app-version:
          - v2.22.2
        x-secrets-engine-version:
          - 2.83.0
      status:
        code: 200
        message: OK
  - request:
      body:
        '[{"filename": "test", "document": "@@ -0,0 +2 @@\n+# gg token\n+apikey
        = \"ggtt-v-12345azert\";\n"}]'
      headers:
        Content-Type:
          - application/json
        GGShield-Command-Id:
          - 1df80264-012e-4f8b-9da3-ab87d8bce5cc
        GGShield-Command-Path:
          - external
        GGShield-OS-Name:
          - ubuntu
        GGShield-OS-Version:
          - '22.04'
        GGShield-Python-Version:
          - 3.10.6
        GGShield-Version:
          - 1.14.2
        mode:
          - path
      method: POST
      uri: https://api.gitguardian.com/v1/multiscan
    response:
      body:
        string:
          '[{"policy_break_count":1,"policies":["File extensions","Filenames","Secrets
          detection"],"policy_breaks":[{"type":"GitGuardian Test Token Checked","policy":"Secrets
          detection","matches":[{"type":"apikey","match":"ggtt-v-12345azert","index_start":37,"index_end":53,"line_start":3,"line_end":3}],"validity":"valid"}]}]'
      headers:
        allow:
          - POST, OPTIONS
        content-type:
          - application/json
        x-app-version:
          - v2.22.2
        x-secrets-engine-version:
          - 2.83.0
      status:
        code: 200
        message: OK
version: 1
