interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.gitguardian.com/v1/health
    response:
      body:
        string: '{"detail":"Valid API key."}'
      headers:
        allow:
          - GET, HEAD, OPTIONS
        content-type:
          - application/json
        x-app-version:
          - v2.22.2
        x-secrets-engine-version:
          - 2.83.0
      status:
        code: 200
        message: OK
  - request:
      body:
        '[{"filename": "/tmp/tmpjbzs68_0/file_secret", "document": "commit 9537b6343a81f88d471e93f20ffb2e2665bbab00\nAuthor:
        GitGuardian Owl <owl@example.com>\nDate:   Thu Aug 18 18:20:21 2022 +0200\n\nA
        message\n\n:000000 100644 0000000 e965047 A\ufffdtest\ufffd\ufffddiff --git
        a/test b/test\nnew file mode 100644\nindex 0000000..b80e3df\n--- /dev/null\n+++
        b/test\n@@ -0,0 +2 @@\n+# gg token\n+apikey = \"ggtt-v-12345azert\";\n"}]'
      headers:
        Content-Type:
          - application/json
        GGShield-Command-Id:
          - cffba95a-a087-4f28-ac9e-3509a477fd4a
        GGShield-Command-Path:
          - cli secret scan path
        GGShield-OS-Name:
          - ubuntu
        GGShield-OS-Version:
          - '22.04'
        GGShield-Python-Version:
          - 3.10.6
        GGShield-Version:
          - 1.14.2
        mode:
          - path
      method: POST
      uri: https://api.gitguardian.com/v1/multiscan
    response:
      body:
        string:
          '[{"policy_break_count":1,"policies":["File extensions","Filenames","Secrets
          detection"],"policy_breaks":[{"type":"GitGuardian Test Token Checked","policy":"Secrets
          detection","matches":[{"type":"apikey","match":"ggtt-v-12345azert","index_start":311,"index_end":327,"line_start":14,"line_end":14}],"validity":"valid"}]}]'
      headers:
        allow:
          - POST, OPTIONS
        content-type:
          - application/json
        x-app-version:
          - v2.22.2
        x-secrets-engine-version:
          - 2.83.0
      status:
        code: 200
        message: OK
version: 1
