name: Application Main Branch

on:
  pull_request:
  push:
    branches:
      - '*'
    tags-ignore:
      - '*'
    paths-ignore:
      - 'doc/**'
      - 'README.md'

jobs:
  lint:
    name: Lint package
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Python 3.8
        uses: actions/setup-python@v1
        with:
          python-version: 3.8

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install pipenv==2022.10.4 pre-commit
          pipenv install --dev --skip-lock

      - uses: actions/cache@v3
        with:
          path: ~/.cache/pre-commit
          key: pre-commit|${{ env.pythonLocation }}|${{ hashFiles('.pre-commit-config.yaml') }}

      - name: Install pre-commit hooks
        run: pre-commit install --install-hooks

      - name: Run pre-commit checks
        run: GITGUARDIAN_API_KEY=${{ secrets.GITGUARDIAN_API_KEY }} pre-commit run --show-diff-on-failure --all-files

  build:
    name: Build and Test
    runs-on: ${{ matrix.os }}
    env:
      # We skip pipenv lockfile by default, because a Pipfile.lock should only
      # be used for the Python version it was generated for.
      PIPENV_SKIP_LOCK: 1
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-2022]
        python-version: ['3.7', '3.8', '3.9', '3.10']
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}

      - name: Use Pipfile.lock on locked version of Python
        # Keep version in sync with scripts/update-pipfile-lock/Dockerfile
        if: matrix.python-version == '3.9'
        run: |
          echo "PIPENV_SKIP_LOCK=0" >> $GITHUB_ENV

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install --upgrade pipenv==2022.10.4
          pipenv install --system --dev

      - name: Install Windows dev dependencies
        if: matrix.os == 'windows-2022'
        run: |
          # Those are win32-only dependencies from pytest
          python -m pip install atomicwrites colorama

      - name: Override base Docker image used for functional tests on Windows
        if: matrix.os == 'windows-2022'
        # This is required because GitHub Windows runner is not configured to
        # run Linux-based Docker images
        shell: bash
        run: |
          echo "GGTEST_DOCKER_IMAGE=mcr.microsoft.com/windows/nanoserver:ltsc2022" >> $GITHUB_ENV

      - name: Ensure a clean package installation
        run: |
          pip install wheel check-wheel-contents
          python setup.py clean --all bdist_wheel
          # The created wheel (.whl) file will be found and analyzed within the `dist/` folder
          check-wheel-contents dist/

      - name: Run unit tests
        run: |
          coverage run --source ggshield -m pytest --disable-pytest-warnings --disable-socket tests/unit

      - name: Gather coverage report
        run: |
          coverage report --fail-under=80
          coverage xml

      - uses: codecov/codecov-action@v1
        with:
          file: ./coverage.xml
          flags: unittests
          name: codecov-umbrella
          fail_ci_if_error: false

      - name: Run functional tests
        shell: bash
        run: |
          make functest GITGUARDIAN_API_KEY=${{ secrets.GITGUARDIAN_API_KEY }} GITGUARDIAN_API_URL=${{ secrets.GITGUARDIAN_API_URL }}

  build_packages:
    # This job ensures the build-packages script is tested on each build, not only at release time
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Install packaging tools
        shell: bash
        run: |
          curl -L https://github.com/goreleaser/nfpm/releases/download/v2.15.0/nfpm_amd64.deb -o nfpm_amd64.deb
          sudo dpkg -i nfpm_amd64.deb

          pip install shiv==1.0.1

      # Append the abbreviated git sha1 to the version number to avoid confusing
      # these packages with those produced at release time
      - name: Fake version number
        shell: bash
        run: |
          version=$(git describe --tags | sed -e 's/^v//' -e 's/-[0-9]*-g/+/')
          echo "Set version number to '$version'"
          sed -i "s/__version__ = .*/__version__ = \"$version\"/" ggshield/__init__.py

      - name: Create packages
        shell: bash
        run: scripts/build-packages/build-packages

      # Make packages downloadable from the workflow page
      - name: Upload packages
        uses: actions/upload-artifact@v3
        with:
          name: packages
          path: |
            dist
            packages

  test_github_secret_scan_action:
    name: Test GitHub action for `secret scan`
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Scan commits for hardcoded secrets
        uses: ./actions-unstable/secret
        env:
          GITHUB_PUSH_BEFORE_SHA: ${{ github.event.before }}
          GITHUB_PUSH_BASE_SHA: ${{ github.event.base }}
          GITHUB_PULL_BASE_SHA: ${{ github.event.pull_request.base.sha }}
          GITHUB_DEFAULT_BRANCH: ${{ github.event.repository.default_branch }}
          GITGUARDIAN_API_KEY: ${{ secrets.GITGUARDIAN_API_KEY }}
          GITGUARDIAN_API_URL: ${{ secrets.GITGUARDIAN_API_URL }}
          GITGUARDIAN_GGSHIELD_REF: ${{ github.ref }}

  test_github_iac_scan_action:
    name: Test GitHub action for `iac scan`
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Scan commits for IaC vulnerabilities
        uses: ./actions-unstable/iac
        with:
          args: .
        env:
          GITGUARDIAN_API_KEY: ${{ secrets.GITGUARDIAN_API_KEY }}
          GITGUARDIAN_API_URL: ${{ secrets.GITGUARDIAN_API_URL }}
          GITGUARDIAN_GGSHIELD_REF: ${{ github.ref }}

  dockerhub-unstable:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main' && github.event_name == 'push'
    needs:
      [lint, build, test_github_iac_scan_action, test_github_secret_scan_action]
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Build and push
        uses: docker/build-push-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: gitguardian/ggshield
          tags: unstable

  github_packages-unstable:
    name: Push Docker image to GitHub Packages
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main' && github.event_name == 'push'
    needs:
      [lint, build, test_github_iac_scan_action, test_github_secret_scan_action]
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2
      - name: Push to GitHub Packages
        uses: docker/build-push-action@v1
        with:
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          registry: docker.pkg.github.com
          repository: gitguardian/ggshield/ggshield
          tags: unstable
